---
import type { HardSkills } from "../lib/content/model";

import HardSkillsGrid from "./HardSkillsGrid.astro";

interface Props {
    data: HardSkills;
}

const { data } = Astro.props;
---

<section id="hard-skills" class="py-12">
    <div class="container flex flex-col items-center gap-6">
        <h2 class="text-3xl font-semibold" set:html={data.title} />
        <h4 class="text-center text-zinc-700" set:html={data.subtitle} />
        <HardSkillsGrid title="Core" columns={3} skills={data.fundamentals} />
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <HardSkillsGrid
                className="xl:col-span-2"
                title="CSS"
                columns={3}
                skills={data.css}
            />
            <HardSkillsGrid
                className="xl:col-span-2"
                title="UI Frameworks"
                columns={3}
                skills={data.ui}
            />
            <HardSkillsGrid
                className="lg:col-span-2 xl:col-span-4"
                title="Metaframeworks"
                columns={5}
                skills={data.metas}
            />
        </div>
        <HardSkillsGrid title="Tools" columns={5} skills={data.tools} />
    </div>
</section>
