---
import type { Project } from "../lib/content/model";
import { Icon } from "astro-icon";
import Button from "./core/Button.astro";
import dayjs from "dayjs";

interface Props {
  data: Project;
  cta: string;
}

const { data, cta } = Astro.props;
// TODO: Show stack detail texts
---

<div
  class="snap-start bg-zinc-50 border-2 border-zinc-900 p-6 flex flex-col gap-2 justify-between select-none"
>
  <img class="border border-zinc-900" src={data.preview.url} alt={data.preview.fileName} />
  <div class="flex flex-col gap-1">
    <h3 class="text-xl font-semibold">{data.title}</h3>
    <h5 class="text-sm" set:html={data.description} />
    <div class="flex flex-row items-center gap-1">
      <Icon size={16} name="ri:calendar-check-line" class="text-zinc-700"/>
      <span class="text-xs">{dayjs(data.date).get('year')}</span>
    </div>
  </div>
  <hr />
  <div class="flex flex-row items-center justify-between gap-3 cursor-pointer">
    <div class="flex flex-row items-center gap-3">
      {data.stack.map((tech) => <Icon size={16} class="self-center" name={tech}/>)}
    </div>
    <Icon size={16} name="ri:more-fill" class="text-zinc-700"/>
  </div>
  <Button color="primary" link={data.link} text={cta} />
</div>
